In [2]:
# Open the jsonfile and display the first level of keys
# open API results WITH json module
import json
with open('Data/example_yelp_results.json') as f:   #adjust for your path
    json_file = json.load(f)
    
## What type is top-level of json?
type(json_file)

dict

## What is the levels of the JSON data?

In [3]:
# what are the keys?
json_file.keys()

dict_keys(['businesses', 'total', 'region'])

In [4]:
# what type is region?
type(json_file['region'])

dict

In [5]:
# what keys are in region?
json_file['region'].keys()

dict_keys(['center'])

In [6]:
# what type is center?
type(json_file['region']['center'])

dict

In [7]:
# what are the keys in center?
json_file['region']['center'].keys()

dict_keys(['longitude', 'latitude'])

In [8]:
# Visualize the whole center dict, since lat and long are likely single values
json_file['region']['center']

{'longitude': -76.607666015625, 'latitude': 39.29617825404647}

In [9]:
# what is stored under the "total" key?
type(json_file['total'])

int

In [10]:
## what is the value?
json_file['total']

435

In [11]:
# how long is businesses?
len(json_file['businesses'])

20

In [12]:
# what does the first entry of business look like?
json_file['businesses'][0]

{'id': 'D9A33FM394q99o4QtK5YwA',
 'alias': 'faidleys-seafood-baltimore-3',
 'name': 'Faidleys Seafood',
 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDCVS7pGopH6GZcfjBA/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/faidleys-seafood-baltimore-3?adjust_creative=KJtcufKUS887p24u6rjVIQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KJtcufKUS887p24u6rjVIQ',
 'review_count': 1184,
 'categories': [{'alias': 'seafood', 'title': 'Seafood'},
  {'alias': 'beerbar', 'title': 'Beer Bar'}],
 'rating': 4.0,
 'coordinates': {'latitude': 39.291696, 'longitude': -76.62224},
 'transactions': ['delivery'],
 'price': '$$',
 'location': {'address1': '203 N Paca St',
  'address2': '',
  'address3': '',
  'city': 'Baltimore',
  'zip_code': '21201',
  'country': 'US',
  'state': 'MD',
  'display_address': ['203 N Paca St', 'Baltimore, MD 21201']},
 'phone': '+14107274898',
 'display_phone': '(410) 727-4898',
 'distance': 1349.560720156645}

In [13]:
## what are the keys of the first entry in businesses?
json_file['businesses'][0].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [14]:
## what are the keys of the NEXT entry in businesses? Do they macth the first?
json_file['businesses'][1].keys()

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

## Identifying "records"

In [15]:
import pandas as pd
df_businesses = pd.DataFrame(json_file['businesses'])
df_businesses.head()

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,D9A33FM394q99o4QtK5YwA,faidleys-seafood-baltimore-3,Faidleys Seafood,https://s3-media3.fl.yelpcdn.com/bphoto/OTjVDC...,False,https://www.yelp.com/biz/faidleys-seafood-balt...,1184,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.0,"{'latitude': 39.291696, 'longitude': -76.62224}",[delivery],$$,"{'address1': '203 N Paca St', 'address2': '', ...",+14107274898,(410) 727-4898,1349.560720
1,u65W69AhbjUlvJJBkEhGNQ,miss-shirleys-cafe-baltimore-9,Miss Shirley's Cafe,https://s3-media4.fl.yelpcdn.com/bphoto/9FsOyV...,False,https://www.yelp.com/biz/miss-shirleys-cafe-ba...,2919,"[{'alias': 'breakfast_brunch', 'title': 'Break...",4.0,"{'latitude': 39.2870995, 'longitude': -76.6053...","[delivery, pickup]",$$,"{'address1': '750 E Pratt St', 'address2': '',...",+14105285373,(410) 528-5373,1028.736468
2,ieS_5zqxDHcWMCm8BKUYbg,thames-street-oyster-house-baltimore,Thames Street Oyster House,https://s3-media1.fl.yelpcdn.com/bphoto/9hGjo5...,False,https://www.yelp.com/biz/thames-street-oyster-...,2729,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.28214, 'longitude': -76.59162}",[delivery],$$$,"{'address1': '1728 Thames St', 'address2': '',...",+14434497726,(443) 449-7726,2090.712792
3,6am8TZAFnvND52MOz-Yctg,mamas-on-the-half-shell-baltimore,Mama's On The Half Shell,https://s3-media2.fl.yelpcdn.com/bphoto/HWY8OF...,False,https://www.yelp.com/biz/mamas-on-the-half-she...,1279,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",4.0,"{'latitude': 39.27986, 'longitude': -76.5752399}","[delivery, pickup]",$$,"{'address1': '2901 Odonnell St', 'address2': '...",+14102763160,(410) 276-3160,3328.825798
4,ISn7WyGQaFpsVSRSh0NSqg,sal-and-sons-baltimore,Sal and Sons,https://s3-media3.fl.yelpcdn.com/bphoto/LmVL4j...,False,https://www.yelp.com/biz/sal-and-sons-baltimor...,153,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",4.5,"{'latitude': 39.284, 'longitude': -76.59337}",[delivery],$,"{'address1': '1640 Aliceanna St', 'address2': ...",+14106751466,(410) 675-1466,1817.406978

In [16]:
df_businesses[['categories','coordinates','location']].head(3)

,categories,coordinates,location
0,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.291696, 'longitude': -76.62224}","{'address1': '203 N Paca St', 'address2': '', ..."
1,"[{'alias': 'breakfast_brunch', 'title': 'Break...","{'latitude': 39.2870995, 'longitude': -76.6053...","{'address1': '750 E Pratt St', 'address2': '',..."
2,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...","{'latitude': 39.28214, 'longitude': -76.59162}","{'address1': '1728 Thames St', 'address2': '',..."

## API Calls Using the YelpAPI Package

In [19]:
import json
with open('C:/Users/joshu/.secret/yelp_api.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['client-id', 'api-key'])

In [20]:
# import the YelpAPI Class
from yelpapi import YelpAPI
# Create an instance with your key
yelp_api = YelpAPI(login['api-key'], timeout_s=5.0)
yelp_api

In [21]:
help(yelp_api.search_query)

Help on method search_query in module yelpapi.yelpapi:

search_query(**kwargs) method of yelpapi.yelpapi.YelpAPI instance
    Query the Yelp Search API.

    documentation: https://www.yelp.com/developers/documentation/v3/business_search

    required parameters:
        * one of either:
            * location - text specifying a location to search for
            * latitude and longitude

In [28]:
# use our yelp_api variable's search_query method to perform our API call
search_results = yelp_api.search_query(location='Baltimore, MD,21202',
                                       term='Crab Cakes',
                                      offset=20)
print(type(search_results))
search_results.keys()

<class 'dict'>

dict_keys(['businesses', 'total', 'region'])

In [29]:
search_results['total']

439

In [30]:
biz = pd.DataFrame(search_results['businesses'])
biz.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,t0EA_fXewpQWfzWMrpNjIw,peters-pour-house-baltimore,Peter's Pour House,https://s3-media3.fl.yelpcdn.com/bphoto/A5kRmG...,False,https://www.yelp.com/biz/peters-pour-house-bal...,242,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.28841, 'longitude': -76.61299}","[delivery, pickup]",$$,"{'address1': '111 Mercer St', 'address2': None...",+14105395818,(410) 539-5818,978.567909
1,7lDhtcolamUZw6oP5V1ehw,flash-crabcake-baltimore,Flash Crabcake,https://s3-media3.fl.yelpcdn.com/bphoto/qtaVuk...,False,https://www.yelp.com/biz/flash-crabcake-baltim...,26,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,"{'latitude': 39.29578, 'longitude': -76.62233}",[],$,"{'address1': '', 'address2': '', 'address3': '...",+14103229143,(410) 322-9143,1152.184055

## Pagination and "offset"

In [31]:
## total number of matching businesses
search_results['total']

439

In [32]:
## how many businesses in our results
len(search_results['businesses'])

20

In [33]:
biz20 = pd.DataFrame(search_results['businesses'])
biz20.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,t0EA_fXewpQWfzWMrpNjIw,peters-pour-house-baltimore,Peter's Pour House,https://s3-media3.fl.yelpcdn.com/bphoto/A5kRmG...,False,https://www.yelp.com/biz/peters-pour-house-bal...,242,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.28841, 'longitude': -76.61299}","[delivery, pickup]",$$,"{'address1': '111 Mercer St', 'address2': None...",+14105395818,(410) 539-5818,978.567909
1,7lDhtcolamUZw6oP5V1ehw,flash-crabcake-baltimore,Flash Crabcake,https://s3-media3.fl.yelpcdn.com/bphoto/qtaVuk...,False,https://www.yelp.com/biz/flash-crabcake-baltim...,26,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,"{'latitude': 39.29578, 'longitude': -76.62233}",[],$,"{'address1': '', 'address2': '', 'address3': '...",+14103229143,(410) 322-9143,1152.184055

In [34]:
## concatenate the previous results and new results. 
businesses = pd.concat([biz, biz20],
                      ignore_index=True)
display(businesses.head(3), businesses.tail(3))

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,t0EA_fXewpQWfzWMrpNjIw,peters-pour-house-baltimore,Peter's Pour House,https://s3-media3.fl.yelpcdn.com/bphoto/A5kRmG...,False,https://www.yelp.com/biz/peters-pour-house-bal...,242,"[{'alias': 'tradamerican', 'title': 'American ...",4.0,"{'latitude': 39.28841, 'longitude': -76.61299}","[delivery, pickup]",$$,"{'address1': '111 Mercer St', 'address2': None...",+14105395818,(410) 539-5818,978.567909
1,7lDhtcolamUZw6oP5V1ehw,flash-crabcake-baltimore,Flash Crabcake,https://s3-media3.fl.yelpcdn.com/bphoto/qtaVuk...,False,https://www.yelp.com/biz/flash-crabcake-baltim...,26,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,"{'latitude': 39.29578, 'longitude': -76.62233}",[],$,"{'address1': '', 'address2': '', 'address3': '...",+14103229143,(410) 322-9143,1152.184055
2,8-cBsSXmLaGK6qCD0tmcZg,the-food-market-baltimore,The Food Market,https://s3-media3.fl.yelpcdn.com/bphoto/OJ3MPA...,False,https://www.yelp.com/biz/the-food-market-balti...,1218,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 39.3310122069348, 'longitude': -7...",[delivery],$$,"{'address1': '1017 W 36th St', 'address2': '',...",+14103660606,(410) 366-0606,4452.869752

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
37,3RtD9VadLIF_mYkgnFwIew,charleston-baltimore,Charleston,https://s3-media4.fl.yelpcdn.com/bphoto/8Ar4xr...,False,https://www.yelp.com/biz/charleston-baltimore?...,591,"[{'alias': 'newamerican', 'title': 'American (...",4.5,"{'latitude': 39.282701, 'longitude': -76.599402}",[],$$$$,"{'address1': '1000 Lancaster St', 'address2': ...",+14103327373,(410) 332-7373,1657.232693
38,pFjt5Z32Ek1Cu3h9c33ZaA,sotto-sopra-baltimore,Sotto Sopra,https://s3-media1.fl.yelpcdn.com/bphoto/bUVEUB...,False,https://www.yelp.com/biz/sotto-sopra-baltimore...,458,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",4.0,"{'latitude': 39.29437, 'longitude': -76.61513}","[delivery, pickup]",$$$,"{'address1': '405 N Charles St', 'address2': '...",+14106250534,(410) 625-0534,672.591101
39,x0rZunJEE9AQtXySoVwL1Q,gertrudes-baltimore,Gertrude's,https://s3-media1.fl.yelpcdn.com/bphoto/P8BopR...,False,https://www.yelp.com/biz/gertrudes-baltimore?a...,423,"[{'alias': 'newamerican', 'title': 'American (...",4.0,"{'latitude': 39.3262187433177, 'longitude': -7...",[delivery],$$,"{'address1': '10 Art Museum Dr', 'address2': '...",+14108893399,(410) 889-3399,3482.706831